<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能图书推荐与兴趣分析系统</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
<div id="page" class="site">
    <div class="container">
        <div class="login">
            <div class="hero">
                <h1>阅读之路<br>A glance at reading</h1>
                <p>输入读者号/学号/姓名即可查询借阅记录与智能推荐</p>
            </div>
            <div class="main">
                <form action="">
                    <p>
                      <label>
                        <input type="text" placeholder="读者号/学号/姓名">
                      </label>
                    </p>
                    <p class="password">
                        <input type="password" placeholder="密码">
                        <i class="ri-eye-off-line"></i>
                    </p>
                    <p>
                        <input type="button" onclick='location.href=("main.html")' class="submit" value="查询">
                    </p>
                </form>
                <div class="options">
                    <div class="separator">
                        <p>智能图书推荐与兴趣分析系统</p>
                    </div>

<!--                      <view class="contents">-->
<!--                        <view class="button left"><navigator url="../dialog/dialog">更新日志</navigator></view>-->
<!--                        <view class="button rght"><navigator url="../contact/contact">联系我们</navigator></view>-->
<!--                        <view><text>版本号: V1.0.0</text></view>-->
<!--                      </view>-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
